extends ../layout

block content
  h2 Edit Reservation
  form(action="/admin/reservation/edit/submit" method="POST")
    div
      input(type="hidden" name="resId" value=editRes._id)
      label(for="name") Name : 
      input(type="text" name="name" value=editRes.name required)
    div
      label(for="email") Email : 
      input(type="email" name="email" value=editRes.email)
    div
      label(for="date") Date : 
      input(type="date" name="date" value=editRes.date)
    div
      label(for="time") Time : 
      input(type="time" name="time" value=editRes.time)
  
    button(type="submit") Update
    a.button.btn(href="/admin/reservation") Cancel
